# Carga de datos

## Librerias

In [62]:

# Importación de las funciones creadas en nuestro archivo de soporte
# -----------------------------------------------------------------------
import sys
sys.path.append("..")

# from src import soporte_carga as sc
from src import soporte_queries_creacion as sqc


# Para trabajar con los DataFrames
# -----------------------------------------------------------------------
import pandas as pd
# Para trabajar con postgresql
# -----------------------------------------------------------------------
import psycopg2

# Para trabajar gestionar los nulos
# -----------------------------------------------------------------------
import numpy as np

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Ignorar warings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

from psycopg2 import errorcodes, OperationalError

In [83]:
def conectar(ddbb):
    try:
        connection = psycopg2.connect(
            database = ddbb,
            user = "postgres",
            password = "admin",
            host = "localhost",
            port = "5432"
        )
    except OperationalError as e:
        if e.pgcode == errorcodes.INVALID_PASSWORD:
            print("La constraseña es errónea.")
        elif e.pgcode == errorcodes.CONNECTION_EXCEPTION:
            print("Error de conexión")
        else:
            print(f'Error:{e}')
    return connection

def query_fetch(connection, query_text):
    cursor = connection.cursor()
    cursor.execute(query_text)
    result = cursor.fetchall()
    cursor.close()
    connection.close()
    return result

def query_commit(connection, query_text, *valores):
    cursor = connection.cursor()
    cursor.execute(query_text, *valores)
    connection.commit()
    cursor.close()
    connection.close()
    return print("Done!")

def query_commit_many(connection, query_text, valores):
    cursor = connection.cursor()
    cursor.executemany(query_text, valores)
    connection.commit()
    cursor.close()
    connection.close()
    return print("Done!")

## Creacionde base de datos

In [64]:
def establecer_conn(database_name, postgres_pass, usuario, host="localhost"):
    """
    Establece una conexión a una base de datos de PostgreSQL.

    Params:
        - database_name (str): El nombre de la base de datos a la que conectarse.
        - postgres_pass (str): La contraseña del usuario de PostgreSQL.
        - usuario (str): El nombre del usuario de PostgreSQL.
        - host (str, opcional): La dirección del servidor PostgreSQL. Por defecto es "localhost".

    Returns:
        psycopg2.extensions.connection: La conexión establecida a la base de datos PostgreSQL.

    """

    # Crear la conexión a la base de datos PostgreSQL
    conn = psycopg2.connect(
        host=host,
        user=usuario,
        password=postgres_pass,
        database=database_name
    )

    # Establecer la conexión en modo autocommit
    conn.autocommit = True # No hace necesario el uso del commit al final de cada sentencia de insert, delete, etc.
    
    return conn



# conexion a postgres
conn = establecer_conn("postgres", "admin", "postgres") # Nos conectamos a la base de datos de postgres por defecto para poder crear la nueva base de datos

# creamos un cursor con la conexion que acabamos de crear
cur = conn.cursor()

In [65]:
cur.execute("SELECT 1 FROM pg_database WHERE datname = %s", ("sanidad42",))

In [66]:

# Almacenamos en una variable el resultado del fetchone. Si existe tendrá una fila sino será None
bbdd_existe = cur.fetchone() # recordamos que fetchone nos devuelve unico valor  
type(bbdd_existe)

tuple

In [67]:
# Si bbdd_existe es None, creamos la base de datos
if not bbdd_existe:
    cur.execute(f'CREATE DATABASE {"sanidad42"};')
    print(f'Base de datos {"sanidad42"} creada con éxito')
else:
    print(f"La base de datos ya existe")

La base de datos ya existe

In [68]:
# Cerramos el cursor y la conexion
cur.close()
conn.close()

In [69]:
def crear_db(database_name):
    # conexion a postgres
    conn = establecer_conn("postgres", "admin", "postgres") # Nos conectamos a la base de datos de postgres por defecto para poder crear la nueva base de datos
    
    # creamos un cursor con la conexion que acabamos de crear
    cur = conn.cursor()
    
    cur.execute("SELECT 1 FROM pg_database WHERE datname = %s", (database_name,))
    
    # Almacenamos en una variable el resultado del fetchone. Si existe tendrá una fila sino será None
    bbdd_existe = cur.fetchone()
    
    # Si bbdd_existe es None, creamos la base de datos
    if not bbdd_existe:
        cur.execute(f"CREATE DATABASE {database_name};")
        print(f"Base de datos {database_name} creada con éxito")
    else:
        print(f"La base de datos ya existe")
        
    # Cerramos el cursor y la conexion
    cur.close()
    conn.close()

## Creacionde base de Tablas

In [70]:
conexion = establecer_conn("sanidad42", "admin", "postgres")

# creamos cada una de las tablas de la base de datos.
conexion.cursor().execute(sqc.query_creation_hospitales)
conexion.cursor().execute(sqc.query_creation_tipo_hosp)
conexion.cursor().execute(sqc.query_creation_gastos)
conexion.cursor().execute(sqc.query_creation_ingresos)

In [71]:
gastos = pd.read_csv('..\datos\gastos.csv')
ingresos = pd.read_csv('..\datos\ingresos.csv', index_col=0)

In [72]:
len(gastos["ncodi"].unique())

857

In [73]:
len(ingresos["ncodi"].unique())

2424

In [74]:
ingresos["ncodi"] = ingresos["ncodi"].str.replace(',', '.').astype(float)

In [75]:
ingresos[ingresos["ncodi"].isna()]

,particulares,aseguradoras,aseguradoras_enfermedad,aseguradoreas_trafico,mutuas,tipo,año,ncodi
18510,1011.0,44506.0,44506.0,0.0,0.0,Hospital,2017,NaN
19288,1906.0,13026.0,13026.0,0.0,0.0,consulExter,2017,NaN
20066,3133.0,37131.0,37131.0,0.0,0.0,CMA,2017,NaN
20844,0.0,7622.0,7622.0,0.0,0.0,hospDia,2017,NaN
21622,5885.0,119212.0,118687.0,525.0,1188.0,Urgencia,2017,NaN
22400,0.0,0.0,0.0,0.0,0.0,hospDom,2017,NaN
28085,404302.0,0.0,0.0,0.0,0.0,Hospital,2019,NaN
28862,0.0,0.0,0.0,0.0,0.0,consulExter,2019,NaN
29639,0.0,0.0,0.0,0.0,0.0,CMA,2019,NaN
30416,0.0,0.0,0.0,0.0,0.0,hospDia,2019,NaN
31193,0.0,0.0,0.0,0.0,0.0,Urgencia,2019,NaN
31970,0.0,0.0,0.0,0.0,0.0,hospDom,2019,NaN
32885,0.0,0.0,0.0,0.0,0.0,Hospital,2021,NaN
33656,0.0,0.0,0.0,0.0,0.0,consulExter,2021,NaN
34427,0.0,0.0,0.0,0.0,0.0,CMA,2021,NaN
35198,0.0,0.0,0.0,0.0,0.0,hospDia,2021,NaN
35969,0.0,0.0,0.0,0.0,0.0,Urgencia,2021,NaN
36740,0.0,0.0,0.0,0.0,0.0,hospDom,2021,NaN

In [76]:
gastos[gastos["ncodi"].isna()]

,año,ncodi,totalcompra,producfarma,materialsani,implantes,restomateriasani,servcontratado,trabajocontratado,xrestocompras,variaexistencias,servexteriores,sumistro,xrestoserviexter,gastopersonal,sueldos,indemnizacion,segsocempresa,otrgassocial,dotaamortizacion,perdidadeterioro,xrestogasto,totcompragasto
1251,2019,NaN,195702,96335.0,35161,0.0,35161.0,8086.0,32820.0,23300.0,3200.0,918446,29685.0,888761.0,2327709,1829339,33779.0,460158,4433.0,29488.0,0.0,2396.0,3476941
3399,2017,NaN,480139,53011.0,121076,0.0,121076.0,89350.0,0.0,216702.0,-81828.0,466118,93226.0,372892.0,470110,366438,2929.0,100743,0.0,234984.0,0.0,190.0,1569713

In [77]:
gastos.drop(index=gastos[gastos["ncodi"].isna()].index, inplace=True)
ingresos.drop(index=ingresos[ingresos["ncodi"].isna()].index, inplace=True)

gastos["ncodi"] = gastos["ncodi"].astype(int)
ingresos["ncodi"] = ingresos["ncodi"].astype(int)

In [78]:
ingresos["ncodi"].unique()[:10]

array([990, 680, 411, 241, 558, 167, 248, 224, 591, 586])

In [79]:
gastos["ncodi"].unique()[:10]

array([ 113,  619,  163,  131,  375, 1090,  764,   14,  657,  362])

In [80]:
result = np.isin(gastos["ncodi"].unique(), ingresos["ncodi"].unique()).all()
print("Están todos los hospitales de los gastos en los ingresos?:", (result))

Están todos los hospitales de los gastos en los ingresos?: True

In [95]:
hospitales = ingresos["ncodi"].unique()
lista_tuplas = [tuple([int(i)]) for i in hospitales]
print(lista_tuplas)

[(990,), (680,), (411,), (241,), (558,), (167,), (248,), (224,), (591,), (586,), (453,), (113,), (619,), (163,), (131,), (375,), (1090,), (764,), (14,), (657,), (362,), (989,), (145,), (511,), (530,), (6,), (161,), (623,), (489,), (875,), (940,), (946,), (1023,), (1054,), (1057,), (1031,), (1032,), (1064,), (226,), (687,), (745,), (109,), (808,), (971,), (128,), (919,), (725,), (3,), (386,), (306,), (15,), (264,), (867,), (910,), (1053,), (1055,), (1081,), (1099,), (529,), (345,), (515,), (174,), (523,), (697,), (239,), (287,), (377,), (692,), (335,), (435,), (423,), (351,), (810,), (830,), (892,), (921,), (991,), (992,), (993,), (1070,), (1095,), (1094,), (473,), (663,), (552,), (772,), (568,), (398,), (394,), (614,), (235,), (616,), (267,), (565,), (220,), (278,), (107,), (141,), (711,), (204,), (579,), (348,), (766,), (761,), (728,), (280,), (222,), (276,), (11,), (302,), (682,), (279,), (282,), (281,), (183,), (610,), (116,), (115,), (114,), (126,), (119,), (770,), (583,), (136,), (469,), (642,), (674,), (193,), (526,), (698,), (630,), (124,), (364,), (604,), (123,), (310,), (571,), (296,), (566,), (784,), (102,), (379,), (639,), (457,), (609,), (101,), (454,), (318,), (600,), (545,), (100,), (702,), (778,), (341,), (99,), (767,), (359,), (98,), (132,), (97,), (103,), (110,), (94,), (91,), (664,), (918,), (92,), (95,), (96,), (301,), (492,), (811,), (812,), (832,), (841,), (856,), (859,), (861,), (880,), (883,), (884,), (877,), (911,), (913,), (922,), (923,), (924,), (947,), (951,), (1103,), (972,), (973,), (974,), (975,), (960,), (1028,), (976,), (977,), (1020,), (994,), (995,), (1060,), (1005,), (1061,), (1006,), (1088,), (1089,), (1076,), (1078,), (1033,), (1036,), (1037,), (1039,), (1067,), (1065,), (1066,), (207,), (431,), (387,), (179,), (606,), (925,), (541,), (797,), (627,), (173,), (636,), (205,), (814,), (881,), (771,), (533,), (447,), (815,), (801,), (800,), (389,), (695,), (816,), (833,), (870,), (927,), (961,), (962,), (1079,), (1101,), (666,), (392,), (790,), (650,), (876,), (944,), (952,), (54,), (367,), (538,), (557,), (653,), (647,), (978,), (996,), (729,), (182,), (633,), (685,), (683,), (945,), (953,), (1022,), (1049,), (794,), (415,), (592,), (497,), (726,), (272,), (805,), (5,), (234,), (64,), (842,), (843,), (1025,), (803,), (211,), (773,), (424,), (298,), (594,), (237,), (16,), (768,), (617,), (297,), (105,), (544,), (804,), (470,), (104,), (20,), (550,), (112,), (818,), (914,), (928,), (964,), (1026,), (1068,), (738,), (404,), (274,), (270,), (676,), (709,), (754,), (997,), (734,), (299,), (645,), (17,), (1046,), (420,), (802,), (266,), (580,), (137,), (769,), (776,), (640,), (315,), (40,), (508,), (46,), (590,), (777,), (897,), (965,), (671,), (461,), (376,), (621,), (793,), (1102,), (712,), (32,), (361,), (486,), (595,), (433,), (1058,), (261,), (730,), (577,), (788,), (865,), (979,), (998,), (221,), (506,), (727,), (355,), (487,), (938,), (886,), (835,), (999,), (798,), (504,), (247,), (216,), (654,), (65,), (472,), (427,), (491,), (551,), (106,), (819,), (836,), (915,), (942,), (748,), (198,), (871,), (948,), (1051,), (1083,), (1096,), (679,), (176,), (537,), (608,), (596,), (749,), (758,), (1104,), (436,), (567,), (677,), (670,), (588,), (446,), (753,), (887,), (585,), (245,), (603,), (426,), (232,), (288,), (246,), (284,), (18,), (356,), (401,), (733,), (243,), (380,), (716,), (534,), (185,), (258,), (505,), (268,), (602,), (254,), (705,), (133,), (33,), (143,), (36,), (756,), (662,), (192,), (382,), (322,), (478,), (352,), (628,), (291,), (327,), (690,), (262,), (403,), (312,), (589,), (665,), (334,), (1075,), (751,), (186,), (646,), (536,), (242,), (490,), (500,), (206,), (58,), (572,), (180,), (549,), (582,), (743,), (795,), (269,), (634,), (1,), (717,), (373,), (535,), (824,), (888,), (902,), (968,), (346,), (27,), (165,), (956,), (413,), (149,), (612,), (559,), (7,), (283,), (37,), (153,), (547,), (397,), (556,), (42,), (31,), (740,), (217,), (863,), (889,), (984,), (34,), (791,), (181,), (430,), (495,), (845,), (498,), (314,), (720,), (721,), (485,), (273,), (846,), (847,), (848,), (864,), (916,), (930,), (954,), (943,), (949,), (980,), (981,), (1024,), (1017,), (1000,), (1018,), (1001,), (1007,), (1008,), (1009,), (1010,), (1011,), (1012,), (1013,), (1041,), (1073,), (1087,), (789,), (326,), (442,), (294,), (378,), (402,), (29,), (450,), (656,), (333,), (668,), (684,), (422,), (763,), (741,), (553,), (357,), (899,), (900,), (932,), (950,), (966,), (967,), (982,), (1014,), (1048,), (1080,), (1074,), (722,), (660,), (75,), (249,), (275,), (227,), (150,), (47,), (172,), (581,), (120,), (445,), (471,), (53,), (199,), (575,), (528,), (631,), (699,), (823,), (849,), (869,), (955,), (983,), (1002,), (1015,), (51,), (441,), (715,), (521,), (524,), (432,), (19,), (25,), (26,), (890,), (904,), (957,), (939,), (236,), (735,), (146,), (363,), (187,), (265,), (295,), (496,), (77,), (391,), (240,), (448,), (151,), (425,), (300,), (339,), (826,), (874,), (905,), (736,), (459,), (320,), (45,), (292,), (618,), (463,), (891,), (958,), (244,), (28,), (444,), (479,), (285,), (253,), (481,), (540,), (332,), (41,), (510,), (305,), (708,), (755,), (750,), (696,), (434,), (421,), (827,), (933,), (1030,), (1003,), (1050,), (1043,), (934,), (629,), (21,), (615,), (626,), (417,), (597,), (539,), (343,), (135,), (158,), (775,), (177,), (578,), (416,), (561,), (828,), (860,), (935,), (936,), (986,), (987,), (1021,), (1085,), (658,), (353,), (323,), (620,), (384,), (554,), (209,), (707,), (395,), (969,), (1052,), (739,), (613,), (593,), (704,), (493,), (686,), (257,), (494,), (681,), (286,), (255,), (79,), (81,), (688,), (531,), (514,), (499,), (532,), (190,), (598,), (260,), (838,), (839,), (851,), (852,), (988,), (1056,), (1044,), (644,), (752,), (238,), (325,), (622,), (879,), (906,), (370,), (418,), (574,), (399,), (195,), (783,), (263,), (194,), (214,), (785,), (780,), (782,), (369,), (84,), (713,), (941,), (1091,), (1045,), (1086,), (937,), (1004,), (737,), (765,), (329,), (87,), (527,), (562,), (251,), (129,), (154,), (516,), (184,), (652,), (637,), (88,), (907,), (970,), (1019,), (1016,), (1047,), (635,), (439,), (570,), (1100,), (1105,), (1107,), (458,), (1108,), (1084,), (1106,), (62,), (1111,), (882,), (1109,), (1110,), (1112,), (1113,), (1114,), (324,), (1071,), (1027,), (759,), (462,), (724,), (484,), (1069,), (1118,), (1120,), (1126,), (1137,), (1142,), (1129,), (1140,), (1072,), (1130,), (1141,), (1145,), (1122,), (1133,), (1146,), (349,), (1115,), (1124,), (1062,), (1121,), (1119,), (1123,), (1128,), (1125,), (1135,), (781,), (779,), (908,), (732,), (569,), (156,), (93,), (1059,), (1063,), (1034,), (208,), (308,), (39,), (388,), (703,), (474,), (507,), (63,), (188,), (83,), (85,), (86,), (1150,), (1035,), (1157,), (1151,), (1127,), (1158,), (1116,), (1147,), (1159,), (1156,), (1155,), (1148,), (1152,), (1153,), (1154,), (1149,), (1166,), (1169,), (1163,), (1170,), (1168,), (1171,), (1160,), (1172,), (1164,), (1165,), (1161,)]

In [96]:
query_hospitales = '''INSERT INTO hospitales(ncodi)
                values(%s)'''

conexion = conectar(ddbb = 'sanidad42')
query_commit_many(connection = conexion, query_text=query_hospitales, valores = lista_tuplas)

Done!

In [103]:
tipo = ingresos["tipo"].unique()
lista_tuplas_tipo = [tuple([t]) for t in tipo ]

query_tipos = '''INSERT INTO tipo_hospitalizacion(nombre)
                values(%s)'''

conexion = conectar(ddbb = 'sanidad42')
query_commit_many(connection = conexion, query_text=query_tipos, valores = lista_tuplas_tipo)

Done!

In [112]:
tipo_dict = dict()
for k, i in enumerate(tipo, start=1):
    tipo_dict[i] = k

In [113]:
tipo_dict

{'Hospital': 1,
 'consulExter': 2,
 'CMA': 3,
 'hospDia': 4,
 'Urgencia': 5,
 'hospDom': 6}

In [115]:
ingresos["tipo"] = ingresos["tipo"].map(tipo_dict)

In [120]:
lista_tuplas_ingresos = [tuple(dato) for dato in ingresos.values]

In [123]:
query_ingresos = '''
                    INSERT INTO ingresos(particulares,aseguradoras,aseguradoras_enfermedad,aseguradoras_trafico,mutuas,tipo_id,anio,ncodi)
                        values(%s,%s,%s,%s,%s,%s,%s,%s)
'''

conexion = conectar(ddbb = 'sanidad42')
query_commit_many(connection = conexion, query_text=query_ingresos, valores = lista_tuplas_ingresos)

Done!

In [148]:
lista_tuplas_gastos = [tuple(datos) for datos in gastos.values]

In [153]:
query_gastos = '''
INSERT INTO gastos(anio,ncodi,totalcompra,producfarma,materialsani,implantes,restomateriasani,servcontratado,trabajocontratado,xrestocompras,variaexistencias,servexteriores,sumistro,xrestoserviexter,gastopersonal,sueldos,indemnizacion,segsocempresa,otrgassocial,dotaamortizacion,perdidadeterioro,xrestogasto,totcompragasto)
            values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
'''
conexion = conectar(ddbb = 'sanidad42')
query_commit_many(connection = conexion, query_text=query_gastos, valores = lista_tuplas_gastos)

Done!